@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* Custom Properties and Utility Classes */
:root {
    --primary-400: #0077ff;
    --text-400: #697C9A;
    --text-700: #4B6A9B;
    --text-800: #2B3442;
    --text-no-result: #F74646;
    --text-white: #ffffff;


    --primary-bg: #F6F8FF;
    --secondary-bg: #FEFEFE;

    --ff-primary: 'Space Mono', monospace;

    --size-300: 0.6875rem; /* 11px */
    --size-400: 0.8125rem; /* 13px */
    --size-500: 0.9375rem; /* 15px */ 
    --size-600: 1rem; /* 16px */
    --size-700: 1.375rem; /* 22px */
    --size-800: 1.625rem; /* 26px */

    --fw-reg: 400;
    --fw-bold: 700;

    --line-heigth-400: 20px;
    --line-heigth-500: 24px;
    --line-heigth-600: 25px;
    --line-heigth-700: 33px;
    --line-heigth-800: 38px;

    --ff-primary-transition: all 1s ease;
    --ff-secondray-transition: all 0.5s ease;
    --ff-hover: #222731;
}

.DarkMode {
    --primary-400: #0077ff;
    --text-400: #ffffff;
    --text-700: #ffffff;
    --text-800: #ffffff;
    --text-no-result: hsl(0, 92%, 55%);

    --primary-bg: #141D2F;
    --secondary-bg: #1E2A47;

    --ff-hover: #90A4D4;
    --text-not-availabel: rgb(75, 106, 155, 1);

}
.pointer {
    cursor: pointer;
}
.none {
    opacity: 0;
    display: none;
    transition: var(--ff-primary-transition);
}
.transition {
    transition: var(--ff-secondray-transition);
}
.text-red {
    color: var(--text-no-result);
    font-weight: var(--fw-bold);
}
/* .not-available {
  color: 
} */
/* CSS Reset  */
/* Box sizing rules */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* General Styling  */
body {
    display: grid;
    /* overflow: hidden; */
    min-height: 100vh;
    /* padding-inline: 1rem; */
    place-content: center;
    font-weight: var(--fw-reg);
    background: var(--primary-bg);
    font-family: var(--ff-primary);
    transition: var(--ff-primary-transition);
}
main {
    width: 100%;
    max-width: 730px;
    margin-inline: auto;
    padding: 1rem;
}

/* Heading  */
.heading-title {
    display: flex;
    align-items: center;
    color: var(--text-800);
    font-weight: var(--fw-bold);
    justify-content: space-between;
}
.heading-title h1 {
  font-size: var(--size-800);
}
.theme-select {
    gap: 1rem;
    display: flex;
    align-items: center;
    color: var(--text-400);
    text-transform: uppercase;
    font-size: var(--size-400);
    transition: var(--ff-primary-transition);
}
.theme-select h3:hover {
    color: var(--ff-hover);
}

/* Search Box  */
.search-box {
  position: relative;
    width: 100%;
    display: flex;
    margin-block: 2rem;
    align-items: center;
    padding: 0.5rem 0.5rem .5rem .6rem;
    border: 3px solid transparent;
    border-radius: var(--size-500);
    justify-content: space-between;
    background: var(--secondary-bg);
    transition: var(--ff-primary-transition);
    box-shadow: 0 15px 30px rgb(22, 22, 22, 0.1);
}
input {
    position: relative;
    width: 100%;
    outline: none;
    border: none;
    color: var(--text-800);
    background: transparent;
    caret-color: var(--primary-400);  /* For changing the inpur cursor color  */
    font-weight: var(--fw-reg);
    font-size: var(--size-400);
}
@media (max-width: 24em) {
  input {
    margin-right: .5rem;
  }
}
.icon-bar {
    gap: 10px;
    width: 73%;
    display: flex;
    align-items: center;
}
/* For No result Only */
.btn-no-result {
  display: flex;
  align-items: center;
  gap: var(--size-700);
}
.no-result {
  right: 27%;
  position: absolute;
  padding-inline: 0.4rem 1rem;
  font-size: var(--size-500);
  background: var(--secondary-bg);
  transition: var(--ff-primary-transition);
}
.btn {
    z-index: 1;
    border: none;
    cursor: pointer;
    padding: 0.78125rem .5rem;
    color: var(--text-white);
    font-size: var(--size-500);
    font-weight: var(--fw-bold);
    border-radius: var(--size-500);
    background-color: var(--primary-400);
    transition: var(--ff-secondray-transition);
}
.btn:hover {
  background-color: #60ABFF;
  transform: scale(1.05);
}
/* Media Quires for Search box and area */
@media (min-width: 30em) {
  .no-result {
    right: 12%;
    margin-right: 1rem;
  }
  .icon-bar {
    gap: 1rem;
  }
}

/* Main Content Box  */
.main-content-box {
  border: none;
  padding: 2rem;
  border-radius: 1.5rem;
  background: var(--secondary-bg);
  transition: var(--ff-primary-transition);
  box-shadow: 0 30px 45px rgb(22, 22, 22, 0.1);
}

/* Avatars  */
.desktop-avatar {
  display: none;
}
.desktop-avatar, .profile > img {
  width: 100%;
  border: none;
  max-width: 70px;
  border-radius: 50%;
  /* box-shadow: 0 30px 45px rgba(23, 23, 23, 0.1); */
}
@media (min-width: 40em) {
  .desktop-avatar, .profile > img {
    padding: 0.3rem;
    max-width: 125px;
}
}
/* Profile  */
.profile {
  gap: 1rem;
  display: flex;
  flex-direction: row;
}
.profile-wrapper {
  display: flex;
  flex-direction: column;
}
.profile-wrapper-content h1 {
  color: var(--text-800);
  font-size: var(--size-600);
  font-weight: var(--fw-bold);
  transition: var(--ff-secondray-transition);
}
.profile-wrapper-content a {
  text-decoration: none;
  color: var(--primary-400);
  font-weight: var(--fw-reg);
  font-size: var(--size-300);
}
.profile-wrapper h3 {
  color: var(--text-400);
  font-size: var(--size-300);
  font-weight: var(--fw-reg);
  transition: var(--ff-secondray-transition);
}
/* Media Quire for Main-content box and avatar  */
@media (min-width: 55em) {
  .main-content-box {
    gap: 2rem;
    display: flex;
    align-items: flex-start;
  }
  .desktop-avatar {
    display: block;
  }
  .profile > img {
    display: none;
  }
  .profile-wrapper {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

}
/* Profile Bio  */
.user-bio {
  margin-block: 1rem;
  line-height: 1.5rem;
  color: var(--text-700);
  font-size: var(--size-400);
  font-weight: var(--fw-reg);
  transition: var(--ff-primary-transition)
}

/* User Number Box  */
.number-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  margin-block: 1.5rem;
  border-radius: 0.6rem;
  padding: 1.125rem var(--size-500);
  background-color: var(--primary-bg);
  transition: var(--ff-primary-transition);
  box-shadow: 0 5px 10px rgb(22, 22, 22, 0.05);
}
.number-box-content {
  text-align: center;
  color: var(--text-800);
  font-size: var(--size-600);
  font-weight: var(--fw-bold);
  transition: var(--ff-primary-transition);
}
.number-box-content h3 {
  color: var(--text-700);
  font-weight: var(--fw-reg);
  font-size: var(--size-300);
  transition: var(--ff-primary-transition);
}

/* Detail Box  */
.detail-box {
  display: grid;
  gap: 1rem;
}
.detail-box-content {
  gap: 1.125rem;
  display: flex;
  align-items: center;
  color: var(--text-700);
  font-size: var(--size-400);
  font-weight: var(--fw-reg);
}
.detail-box-content p {
  margin-left: 5px;
}
.detail-box-content a {
  text-decoration: none;
  color: var(--text-700);
}

/* Undeline Hover For link  */
.link {
  position: relative;
  overflow: hidden;
  padding-block-end: .1rem;
  transform: perspective(1px) translateZ(0);
}
.link::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: var(--text-700);
  height: 2px;
  transition: all .3s ease-out;
}
.link:hover:before{
  left: 0;
  right: 0;
}
@media (min-width: 30em) {
  .detail-box {
    grid-template-columns: 1fr 1fr;
  }
}
/* * {
    outline: 2px solid limegreen;
} */